---
import Layout from '../layouts/Layout.astro';
import {Icon} from "astro-icon/components"
---

<Layout title="Bienvenidos a mi página">
	Este es el inicio
	<p class="preety-p h-[300px] font-Myfont">holag</p>
	<Icon name="mdi:delete" class="text-green-500" size="50" />
	<Icon name="mdi:airport" size=100 />
</Layout>

<style>
	.preety-p{
		@apply bg-red-500 p-6 text-white rounded;
		clip-path: polygon(100% 0%, 0% 0% , 0.00% 74.36%, 2.00% 73.64%, 4.00% 71.58%, 6.00% 68.47%, 8.00% 64.75%, 10.00% 60.93%, 12.00% 57.56%, 14.00% 55.11%, 16.00% 53.93%, 18.00% 54.17%, 20.00% 55.80%, 22.00% 58.61%, 24.00% 62.18%, 26.00% 66.02%, 28.00% 69.60%, 30.00% 72.40%, 32.00% 74.04%, 34.00% 74.28%, 36.00% 73.09%, 38.00% 70.64%, 40.00% 67.27%, 42.00% 63.46%, 44.00% 59.74%, 46.00% 56.63%, 48.00% 54.57%, 50.00% 53.85%, 52.00% 54.57%, 54.00% 56.63%, 56.00% 59.74%, 58.00% 63.46%, 60.00% 67.27%, 62.00% 70.64%, 64.00% 73.09%, 66.00% 74.28%, 68.00% 74.04%, 70.00% 72.40%, 72.00% 69.60%, 74.00% 66.02%, 76.00% 62.18%, 78.00% 58.61%, 80.00% 55.80%, 82.00% 54.17%, 84.00% 53.93%, 86.00% 55.11%, 88.00% 57.56%, 90.00% 60.93%, 92.00% 64.75%, 94.00% 68.47%, 96.00% 71.58%, 98.00% 73.64%, 100.00% 74.36%);
	}

</style>

<script>

	import JSConfetti from 'js-confetti'

	const jsConfetti = new JSConfetti()

	
	const divBtn = document.getElementById("btn")
	divBtn.addEventListener("click", function(event) {
		console.log("Me has pinchado", event.target.id)
		jsConfetti.addConfetti()
	})
	console.log(divBtn)
</script>


